@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<br/>


<p>The Bizarre Bazaar was created to expand my my knowledge of many to many relationships and foreign keys
    while also giving me a chance to produce a working MVC using ASP.NET and C#. As you can see I'm definitely
    getting the hang of this html and css, although who couldn't improve a bit. This is a project that can and will be
    expanded as I continue to hone the skills I've been taught in Eleven Fifty Academy.</p>
