@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Desmond Williams</strong> <br />
    Up&Coming Software Engineer<br />

</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:demowi8@gmail.com">demowi8@gmail.com</a><br />
</address>