@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bizarre Bazaar</h1>
    <p class="lead">The best thing since sliced Bread. YikYak meets Ebay meets BRING IT ON!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lets Get Started!</h2>
        <p>
            Are you a bidder? Are you a seller? Doesn't matter list your items or bid on them too.
            Just make sure you back up what you say or else we have mad dogs come your way.
        </p>
        @Html.ActionLink("Create a Product", "ProductCreate", "Product")
    </div>
    <div class="col-md-4">
        <h2>Sell</h2>
        <p class="alert">List your items here after you've created your products!</p>
        @Html.ActionLink("Auctions", "Index", "Auction" )
    </div>
    <div class="col-md-4">
        <h2>Bid</h2>
        <p>Find all the best deal on items. Make sure you make a good bid! Dont be shy!</p>
        <p class="text-warning">Bidding will be available soon!</p>
    </div>
</div>